---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap">You can also browse my <u><a href="https://scholar.google.com/citations?user=YJ5X6HYAAAAJ&hl=en&authuser=1">Google Scholar profile</a></u>.</div>

{% include base_path %}

---

## Peer-Reviewed Journal Publications

{% for post in site.publications reversed %}
  {% if post.venue contains 'Journal' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

---

## Conference Papers

{% for post in site.publications reversed %}
  {% if post.venue contains 'Conference' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

---

## Book Chapters

*Coming soon*

---

## Preprints

*Coming soon*

---

## Ongoing Submissions

*Under review - details available upon request*

---

## All Publications

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}